<h1>Listing albums</h1>

<table>


<% for album in @albums %>
  <tr>
    <td><%= link_to album.name, album_pictures_path(album) %></td>
    <% if logged_in? && current_user.id == album.user.id %>
      <td><%= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if logged_in? %>
  <%= link_to 'New album', new_album_path %>
<% end %>