<%= image_tag @picture.public_filename %>
<p>
  <b>Description:</b>
  <%=h @picture.description %>
</p>


<%= link_to 'Edit', edit_album_picture_path(@album, @picture) %> |
<%= link_to 'Back to index', album_pictures_path(@album) %>
